In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

In [35]:
# from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [47]:
from sklearn.metrics import accuracy_score, classification_report

In [10]:
iris_data = pd.read_csv('data/iris2.csv', encoding='utf-8')

In [11]:
iris_data

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [12]:
y = iris_data.loc[:,'Name']

In [14]:
x = iris_data.loc[:,['SepalLength','SepalWidth','PetalLength','PetalWidth']]

In [42]:
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=0.2, train_size=0.8, shuffle=True)

In [43]:
# 학습기
# clf = SVC()

knn = KNeighborsClassifier(n_neighbors=3)

In [44]:
knn.fit(x_train,y_train) # 훈련 데이터

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [45]:
y_pred= knn.predict(x_test) # 검증 데이터

In [46]:
print("정답률 >>" , accuracy_score(y_test, y_pred))

정답률 >> 0.9666666666666667

In [49]:
classification_report(y_test,y_pred)

'                 precision    recall  f1-score   support\n\n    Iris-setosa       1.00      1.00      1.00        11\nIris-versicolor       1.00      0.91      0.95        11\n Iris-virginica       0.89      1.00      0.94         8\n\n       accuracy                           0.97        30\n      macro avg       0.96      0.97      0.96        30\n   weighted avg       0.97      0.97      0.97        30\n'

NameError: name 'sns' is not defined